@font-face {
  font-family: 'Constatine';
  src: url('./fonts/constantine/Constantine.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
:root {
  --fontSize: calc(1vh + .5vw + 6px);
  --fontSizeTabs: calc(2*(var(--fontSize)));
  --fontSizeMiddle: calc(1.5*(var(--fontSize)));
  font-family: 'Constatine';
  --background1: #292524;
  --background2: #EAB308;
  --myPadding: 1rem;
  --myBorder: 10%;
  --imgMenu: calc(10vw + 10vh);
  text-align: center;
} 
/*  body *{
  border: .1px solid red;
}  */
html {
  height: 100%;
}
body {
  min-height: 100vh;
  background: var(--background1);
}
.container {
  font-size: var(--fontSize);
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: center;
}
.tabs{
  display: flex;
  gap: 1rem;
  font-size: var(--fontSizeTabs);
  align-items: center;
}
.home, .menu, .contact, .main {
  background: var(--background2);
}
.home, .menu, .contact {
  padding: var(--myPadding);
  border-radius: var(--myBorder);
}
.main {
  display: flex;
  flex-direction: column;
  margin: 1rem 5rem 1rem 5rem;
  border-radius: 5%;
}
.footer {
  display: flex;
  justify-content: center;
}
#logo {
  height: 2rem;
}
.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--myPadding);
  gap: 1rem;
}
.para1 {
  font-size: var(--fontSizeMiddle); 
}
.para1, .para2, .para3, .para4{
  border: 2px solid var(--background1);
  border-radius: var(--myBorder);
  padding: var(--myPadding); 
}
.para2, .para3, .para4 {
  width: 40vw;
}
.menuGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;

}
.pizzaItemImg {
  width: var(--imgMenu);
  height: var(--imgMenu);
  border-radius: var(--myBorder);
}
.pizzaItem {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.para5 {
  margin-bottom: 2.5rem;
}